.spacer {
  flex: 1 1 auto;
}
.app-title {
  text-decoration: none; /* Removes underline */
  color: white; /* Text color */
  font-size: 24px;
  font-weight: bold;
  cursor: pointer; /* Shows hand cursor */
}
.app-title:hover {
  text-decoration: underline; /* Underlines text on hover */
}